<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pointedInquery.mapper.OnlinetalkMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.pointedInquery.entity.Onlinetalk">
        <id column="message_id" property="messageId" />
        <result column="send_from" property="sendFrom" />
        <result column="send_to" property="sendTo" />
        <result column="content" property="content" />
        <result column="create_at" property="createAt" />
        <result column="number" property="number" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        message_id, send_from, send_to, content, create_at, number
    </sql>

</mapper>
