<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pointedInquery.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.pointedInquery.entity.User">
        <id column="phone" property="phone" />
        <result column="name" property="name" />
        <result column="password" property="password" />
        <result column="school" property="school" />
        <result column="is_expert" property="isExpert" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        phone, name, password, school,is_expert
    </sql>

</mapper>
